.link {
  @apply text-blue-500;
}

.pre {
  @apply border bg-white border-gray-200 rounded-md mb-2 overflow-scroll;
}

.fileCode {
  @apply px-4 py-4 text-sm flex flex-col;
}

.code_Line {
  counter-increment: line;
}

.code_Line::before {
  @apply me-3;
  display: inline-block;
  width: 2em;
  padding-right: 0.8em;
  color: rgb(119, 119, 119);
  content: counter(line);
  alt: '';
  text-align: end;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
