/** Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-comment {
  color: #ababab;
  font-style: italic;
}

.hljs-keyword {
  @apply text-red-600;
}

.hljs-number {
  @apply text-blue-600;
}

.hljs-string {
  @apply text-green-600;
}

.hljs-tag {
  color: #89ddff;
}

.hljs-tag .hljs-name {
  @apply text-red-600;
}

.hljs-title.function_ {
  color: #82aaff;
}

.hljs-attr {
  @apply text-black;
}

.hljs-built_in {
  @apply text-yellow-600;
}

.hljs-params {
  color: #ff5370;
}

.hljs-property {
  color: #82aaff;
}
